<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

    <body class="container">
        <h1 th:text="${title}">Default Title</h1>
        <nav th:replace="fragments :: navigation"></nav>
    <hr />
    <p th:unless="${menu}">No items in this menu</p>
    <hr />
    <ul>
        <li th:each="cheese : ${cheeses}"
            th:text="${cheese.name}">
        </li>
    </ul>
    <hr/>
    <p><a th:href="@{'/menu/add-item/' + ${menuId}}">Add Cheese</a></p>

</body>
</html>